h1{text-align:center;color:red;}
h2{text-align:center;}
em{font-size:20px;color:#00FF00;}
li{font-size:18px;font-style:bold;}
#banner{width:60%;border:10pxsolid;right:60px;top:150px;position:absolute;}
body{background:#FFCCCC;}
.titulo{color:#FFBB00;}
